@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-style: normal;

    src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaT-Thin.otf')  format('opentype'),
    url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('../fonts/ProximaNovaT-Thin.ttf')  format('truetype'),
    url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-style: italic;

    src: url('../fonts/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-ThinIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-ThinIt.woff') format('woff'),
    url('../fonts/ProximaNova-ThinIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.otf')  format('opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
    url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-style: italic;

    src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-LightIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-LightIt.woff') format('woff'),
    url('../fonts/ProximaNova-LightIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: italic;

    src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-RegularIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../fonts/ProximaNova-RegularIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
    url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: italic;

    src: url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-SemiboldIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../fonts/ProximaNova-SemiboldIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf')  format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: italic;

    src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-BoldIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Black.otf')  format('opentype'),
    url('../fonts/ProximaNova-Black.woff') format('woff'),
    url('../fonts/ProximaNova-Black.ttf')  format('truetype'),
    url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: italic;

    src: url('../fonts/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BlackIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-BlackIt.woff') format('woff'),
    url('../fonts/ProximaNova-BlackIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-BlackIt.svg#ProximaNova-BlackIt') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: normal;

    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Extrabld.otf')  format('opentype'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/ProximaNova-Extrabld.ttf')  format('truetype'),
    url('../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
}
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: italic;

    src: url('../fonts/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-ExtrabldIt.otf')  format('opentype'),
    url('../fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
    url('../fonts/ProximaNova-ExtrabldIt.ttf')  format('truetype'),
    url('../fonts/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
}